*{
    margin: 0 ;
    padding: 0 ;
    box-sizing: border-box;
    font-family: 'popins',sans-serif;
}
.container{
    width: 95%;
    padding: 20px ;
    margin:20px ;
    /* background-color:rgba(218, 115, 227, 0.788); */
}
 header{
    color: white;
    font-size: large;
    font-weight:bold;
    background-color: rgb(43, 4, 53);
    /* z-index: 100;  */
 }
nav{
    display: flex;
    justify-content:space-between;
    align-items:center;
}
.nav-links{
    display: flex;
    justify-content:space-between;
    align-items:center;
    gap: 40px;
    /* padding: 20px ; */
    
}

nav ul{
    list-style: none;
    justify-content: space-between;
}
nav ul li a{
    text-decoration: none;
    
}
nav a:hover{
    color: aqua;
}
/* nav ul li{
    margin-right: 20px;
} */
#hero{
    padding: 10px;
    margin-left: 40px;
    background-color:rgba(218, 115, 227, 0.788);
    height: 90vh;
   
}
.flex-content{
    display: flex;
    justify-content:center;
    gap: 150px;

}
.content{
    
}
.hero-content{
    height:200px;
}
.content h3{
    color: brown;
    padding: 10px;
}
.container h1,h2,p{
    color: rgba(9, 9, 10, 0.788);
    padding: 10px;
}
.container p{
    color: black;
    font-style: italic;
}
.img{
    border-radius: 50%;
}
.about{
    display: flex;
    justify-content:center;
    align-items: center;
    gap:40px;
    
}
.about-content p{
    
}


